html {
    background: #1e1f22;
}

body {
    background: #2b2d31;
}

.logo {
    color: #fff;
}

.logo:after {
    background-color: #fff;
}

.title {

}

.subtitle {

}

.auxiliary-info-title {

}

.title, .subtitle, .auxiliary-info-title {
    color: #fff;
}

.text, .auxiliary-info-title {
    color: #fff;
}

.text, .auxiliary-info-title, .misc-text {

}

.misc-text {
    color: #aaa
}

.separator {
    background-color: #fff;
}

.thick-separator {
    background-color: #fff;
}

.column-container {

}

.column-container>* {

}

.tag-container {

}

.tag {

}

.tag:hover {

}

.tag-circle {

}

.tag-text {
    color: #ffffff;
}

.text-link {
    color: #8ab4f8;
}

.tag-page-title {

}

.tag-page-title:after {

}

.theme-switcher-button {
    --next-stylesheet: light;
    --icon-class: gg-sun;
    color: #fff;
}

iframe {

}
