html {
    background: #1e1f22;
}

body {
    background: #2b2d31;
}

.logo {
    color: #eef;
}

.logo:after {
    background-color: #eef;
}

.title {

}

.major-subtitle {

}

.subtitle {

}

.auxiliary-info-title {

}

.title, .subtitle, .auxiliary-info-title, .major-subtitle {
    color: #eef;
}

.text, .auxiliary-info-title {
    color: #eef;
}

.text, .auxiliary-info-title, .misc-text {

}

.misc-text {
    color: #aaa
}

.separator {
    background-color: #eef;
}

.thick-separator {
    background-color: #eef;
}

.column-container {

}

.column-container>* {

}

.column-container>*:not(:last-child) {

}

.tag-container, .add-person-container {

}

.tag {

}

.tag:hover {

}

.tag-circle {

}

.tag-text {
    color: #eef;
}

.text-link {
    color: #8ab4f8;
}

.tag-page-title {

}

.tag-page-title:after {

}

.theme-switcher-button {
    --next-stylesheet: light;
    --icon-class: fa-solid fa-sun;
    color: #eef;
}

iframe {

}

.paddedTableColumn {

}

.warning-text {
    background: #fff3bd;
    border-color: #c4b674;
}

.warning-text:before {

}

.radio-button[type=radio] {

}

.radio-button {
    color: #eef;
}

.radio-button[type=radio]:checked + .radio-button {
    background-color: #aaaaaa;
    color: #000000;
}

.radio-button:not(:first-of-type) {
    border-left-color: #eef;
}

.radio-button-holder {
    border-color: #eef;
}

.timeline-filters-setall-holder>button {
    background: none;
    border-color: #eef;
    color: #eef;
}

.timeline-filters-setall-holder>button:not(:last-of-type) {

}

.timeline-filters-setall-holder {

}

.timeline-filters-setall-holder>button:active {
    background: rgba(238, 238, 255, 0.1);
}

input[type=date] {
    border-color: #eef;
    color: #eef;
}

.filter-buttons-holder {

}

.filter-buttons-holder > * {

}

.icon {
    color: #eef;
}

.code {
    background-color: #343941;
    color: #eef;
}

.text-input {
    background-color: #343941;
    color: #eef;
}

.tag-selector[type="checkbox"] {

}

.tag-selector {
    cursor: pointer;
}

.tag-selector-circle {

}

.tag-selector-check {

}
