html {
}

body {
    max-width: 95.75em;
    min-width: 31.25em;
    padding: 1em;
    margin: 0 auto;
    min-height: 100vh;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 4em;

    position: relative;
    text-decoration: none; /* Remove default text underline */
}

.logo:after {
    content: "";
    position: absolute;
    left: 0.8em;
    bottom: -1em;
    width: 3em;
    height: 1.5em;
    clip-path: polygon(0em 0.2em, calc(100% - 0.15em) 0.2em, calc(100% - 0.15em) 0em, 100% 0.25em, calc(100% - 0.15em) 0.5em, calc(100% - 0.15em) 0.3em, 0em 0.3em);
}

.title {
    margin: 0em;
    font-size: 4em;
    font-family: serif;
}

.subtitle {
    margin-bottom: 0em;
    font-size: 1.2em;
    font-family: serif;
}

.auxiliary-info-title {
    text-decoration: underline;
    font-weight: normal;
}

.title, .subtitle, .auxiliary-info-title {

}

.text, .auxiliary-info-title {

}

.text, .auxiliary-info-title, .misc-text {
    margin: 0em;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    white-space: pre-wrap;
}

.misc-text {

}

.separator {
    margin-top: 0em;
}

.thick-separator {
    border: none;
    margin-top: 0em;
}

.column-container {
    justify-content: space-between;
    display: flex;
}

.column-container>* {
    float: left;
    display: unset;
}

.column-container>*:not(:last-child) {
    margin-right: 1em;
}

.tag-container {
    overflow: auto;
}

.tag {
    float: left;
    padding: 2px 5px;
    border-radius: 20px;
    margin-right: 10px;
    align-items: center;
    justify-items: center;
    display: flex;

    background-color: rgba(var(--tag-color-red), var(--tag-color-green), var(--tag-color-blue), 0.7);
        /* Use background-color so it does not affect child widgets */
    transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
}

.tag:hover {
    background-color: rgba(var(--tag-color-red), var(--tag-color-green), var(--tag-color-blue), 1.0);
    transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
}

.tag-circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background: white;
    float: left;
    margin-right: 2.5px;
}

.tag-text {
    margin-right: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.text-link {
    text-decoration: none;
}

.tag-page-title {
    display: inline-flex;
}

.tag-page-title:after {
    content: "";
    border-radius: 50%;
    height: 3em;
    width: 3em;
    border: 1em solid var(--circle-color);
    margin-left: 1em;
}

.theme-switcher-button {  /* See theme buttons file */

}

iframe {
    border: 0em;
}

.paddedTableColumn {
    padding-right: 1em;
}

.warning-text {
    border: 1px solid;
    padding: 0.1em;
}

.warning-text:before {
    content: "\26A0";
}

.timeline-filter[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.timeline-filter {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
}

.timeline-filter[type=radio]:checked + .timeline-filter {

}

.timeline-filter:not(:first-of-type) {
  border-left: solid 1px;
}

.timeline-filter-holder {
  border: solid 1px;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.timeline-filters-setall-holder>button {
    background: none;
      border: solid 1px;
      border-radius: 10px;
      padding: 5px 20px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      font-size: 1em;
}

.timeline-filters-setall-holder>button:not(:last-of-type) {
    margin-right: 0.2em;
}

.timeline-filters-setall-holder {
    display: inline-flex;
}

/*--------------------------------------------------------------------------------------*/
