html {
    background: #f8f9fa;
}

body {
    background: #fff;
}

.logo {
    color: #000;
}

.logo:after {
    background-color: #000;
}

.title {

}

.subtitle {

}

.auxiliary-info-title {

}

.title, .subtitle, .auxiliary-info-title {
    color: #000;
}

.text, .auxiliary-info-title {
    color: #000;
}

.text, .auxiliary-info-title, .misc-text {

}

.misc-text {
    color: #aaa
}

.separator {
    background-color: #000;
}

.thick-separator {
    background-color: #000;
}

.column-container {

}

.column-container>* {

}

.column-container>*:not(:last-child) {

}

.tag-container {

}

.tag {

}

.tag:hover {

}

.tag-circle {

}

.tag-text {
    color: #ffffff;
}

.text-link {
    color: #1a0dab;
}

.tag-page-title {

}

.tag-page-title:after {

}

.theme-switcher-button {
    --next-stylesheet: dark;
    --icon-class: gg-moon;
    color: #000;
}

iframe {

}

.paddedTableColumn {

}

.warning-text {
    background: #fff3bd;
    border-color: #c4b674;
}

.warning-text:before {

}

.radio-button[type=radio] {

}

.radio-button {
    color: #000000;
}

.radio-button[type=radio]:checked + .radio-button {
    background-color: #aaaaaa;
    color: #ffffff;
}

.radio-button:not(:first-of-type) {
    border-left-color: #000000;
}

.radio-button-holder {
    border-color: #000000;
}

.timeline-filters-setall-holder>button {
    background: none;
    border-color: #000;
    color: #000;
}

.timeline-filters-setall-holder>button:not(:last-of-type) {

}

.timeline-filters-setall-holder {

}

.timeline-filters-setall-holder>button:active {
    background: rgba(0, 0, 0, 0.1);
}