html {
    background: #f8f9fa;
}

body {
    background: #fff;
}

.logo {
    color: #000;
}

.logo:after {
    background-color: #000;
}

.title {

}

.subtitle {

}

.auxiliary-info-title {

}

.title, .subtitle, .auxiliary-info-title {
    color: #000;
}

.text, .auxiliary-info-title {
    color: #000;
}

.text, .auxiliary-info-title, .misc-text {

}

.misc-text {
    color: #aaa
}

.separator {
    background-color: #000;
}

.thick-separator {
    background-color: #000;
}

.column-container {

}

.column-container>* {

}

.tag-container {

}

.tag {

}

.tag:hover {

}

.tag-circle {

}

.tag-text {
    color: #ffffff;
}

.text-link {
    color: #1a0dab;
}

.tag-page-title {

}

.tag-page-title:after {

}

.theme-switcher-button {
    --next-stylesheet: dark;
    --icon-class: gg-moon;
    color: #000;
}

iframe {

}

.paddedTableColumn {

}